<!DOCTYPE html>
{%extends 'web_app/home.html'%}
{% load static %}
{%block body_block%}
<br><br><br><br><br><br>
<h2>Car Models</h2>
{%if car_list%}
<table>
    <thead>
    <th>bname</th>
    <th>model</th>
    <th>year</th>
    <th>New/Pre_owned/Up Coming</th>
    <th>Image</th>
    </thead>
    {% for car in car_list%}
    <tr>
        <td>{{car.bname}}</td>
        <td>{{car.model}}</td>
        <td>{{car.year}}</td>
        <td>{{car.new_or_pre_owned_or_upcoming}}</td>
        {%if car.new_or_pre_owned_or_upcoming == 'new'%}
            <td><a href="/web_app/car/{{car.model}}"><img src="{% static 'images/cars/' %}{{ car.bname }}/models/{{ car.image }}" alt=""></img></a></td>
        {% elif  car.new_or_pre_owned_or_upcoming == 'pre_owned'%}
        <td><a href="/web_app/pre_owned_car/{{car.model}}"><img src="{% static 'images/cars/' %}{{ car.bname }}/models/{{ car.image }}" alt=""> </img></a></td>
        {% else %}
        <td><a href="/web_app/upcoming_car/{{car.model}}"><img src="{% static 'images/cars/' %}{{ car.bname }}/models/{{ car.image }}" alt=""> </img></a></td>
        {% endif %}
    </tr>
    {%endfor%}
</table>
{%else%}
<h2>No Data Exist</h2>
{%endif%}
{%endblock%}