<!DOCTYPE html>
{%extends 'web_app/home.html'%}
{% load static %}
 <link rel="stylesheet" href="{% static 'css/login.css' %}">
{%block body_block%}
<br><br><br><br><br><br>
<h1 align="center">Welcome to Car Space</h1>
<div align="center">
<img class="center-image" src="{% static 'images/car_brands_logos.png' %}", align="center"> </img>
</div>
<h2>Car Details</h2>
{% if car_data %}
<table>
    <thead>
    <th>Sno</th>
    <th>Brand</th>
    <th>Type</th>
    <th>Model</th>
    <th>Year</th>
    </thead>
    {% for car in car_data %}
    <tr>
        <td>{{car.sno}}</td>
        <td>{{car.bname}}</td>
        <td>{{car.type}}</td>
        <td>{{car.model}}</td>
        <td>{{car.year}}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}
{%endblock%}