<!DOCTYPE html>
{%extends 'web_app/home.html'%}
{%load static%}
{%block body_block%}
<br><br><br><br><br><br>
{{user_login}}
{% if user_login %}
    <!-- Show login icon or user-specific content -->
    <div class="user-content">
        <!-- Your login icon or user-specific content goes here -->
        <img src="{% static 'images/logos/login_logo.jpg' %}" alt="User Icon">
        <h3>User Already Loggedin</h3>
    </div>
{% endif %}
<!--<h1>Login to Car Space</h1>-->
<h1 align="center">User Login</h1>
<div class="container" align="center">
    <form method="post">
        {{login_user.as_p}}
        {% csrf_token %}
        <input type="submit" class="btn btn-primary" name="" value="Submit">
    </form>
    <ul>
    <li><a href="/web_app/register_user/"  align="center">User Signup</a></li>
    </ul>
    <img class="center-image" src="{% static 'images/car_brands_logos.png' %}", alt="", align="center"> </img>
</div>
{%endblock%}