<!DOCTYPE html>
{%extends 'web_app/home.html'%}
{% load static %}
<link rel="stylesheet" href="{% static 'css/new_car.css' %}">
{%block body_block%}
<br><br><br><br><br><br>
<h1>New Car Brands</h1>
<table>
    <tbody>
        <tr>
            <td><a href="/web_app/cars/audi/New/"><img src="{% static 'images/audi.jpg' %}", alt=""> </img></a></td>
            <td><a href="/web_app/cars/bmw/New/"><img src="{% static 'images/bmw.jpg' %}", alt=""> </img></a></td>
             <td><a href="/web_app/cars/bentley/New/"><img src="{% static 'images/bentley.png' %}", alt=""> </img></a></td>
             <td><a href="/web_app/cars/bugatti/New/"><img src="{% static 'images/bugatti.png' %}", alt=""> </img></a></td>
            <!-- Add more cells for additional images -->
        </tr>
        <tr>
             <td><a href="/web_app/cars/byd/New/"><img src="{% static 'images/byd.jpg' %}", alt=""> </img></a></td>
             <td><a href="/web_app/cars/chevrolet/New/"><img src="{% static 'images/chevrolet.jpg' %}", alt=""> </img></a></td>
             <td><a href="/web_app/cars/citreon/New/"><img src="{% static 'images/citroen.jpg' %}", alt=""> </img></a></td>
            <td><a href="/web_app/cars/ferrari/New/"><img src="{% static 'images/ferrari.png' %}", alt=""> </img></a></td>
        </tr>
        <tr>
             <td><a href="/web_app/cars/force-motors/New/"><img src="{% static 'images/force-motors.png' %}", alt=""> </img></a></td>
             <td><a href="/web_app/cars/honda/New/"><img src="{% static 'images/honda.jpg' %}", alt=""> </img></a></td>
             <td><a href="/web_app/cars/hyundai/New/"><img src="{% static 'images/hyundai.jpg' %}", alt=""> </img></a></td>
            <td><a href="/web_app/cars/isuzu/New/"><img src="{% static 'images/isuzu.png' %}", alt=""> </img></a></td>
        </tr>
        <tr>
             <td><a href="/web_app/cars/jagur/New/"><img src="{% static 'images/jaguar.jpg' %}", alt=""> </img></a></td>
             <td><a href="/web_app/cars/jeep/New/"><img src="{% static 'images/jeep.jpg' %}", alt=""> </img></a></td>
             <td><a href="/web_app/cars/kia/New/"><img src="{% static 'images/kia.jpg' %}", alt=""> </img></a></td>
            <td><a href="/web_app/cars/lamborghini/New/"><img src="{% static 'images/lamborghini.jpg' %}", alt=""> </img></a></td>
        </tr>
        <tr>
             <td><a href="/web_app/cars/land-rover/New/"><img src="{% static 'images/land-rover.jpg' %}", alt=""> </img></a></td>
             <td><a href="/web_app/cars/lexus/New/"><img src="{% static 'images/lexus.png' %}", alt=""> </img></a></td>
             <td><a href="/web_app/cars/mahindra/New/"><img src="{% static 'images/mahindra.jpg' %}", alt=""> </img></a></td>
            <td><a href="/web_app/cars/matuti-suzuki/New/"><img src="{% static 'images/maruti-suzuki.jpg' %}", alt=""> </img></a></td>
        </tr>
        <tr>
             <td><a href="/web_app/cars/mclaren/New/"><img src="{% static 'images/mclaren.jpg' %}", alt=""> </img></a></td>
             <td><a href="/web_app/cars/mercedes-benz/New/"><img src="{% static 'images/mercedes-benz.jpg' %}", alt=""> </img></a></td>
             <td><a href="/web_app/cars/mg/New/"><img src="{% static 'images/mg.jpg' %}", alt=""> </img></a></td>
            <td><a href="/web_app/cars/mini/New/"><img src="{% static 'images/mini.png' %}", alt=""> </img></a></td>
        </tr>
        <tr>
             <td><a href="/web_app/cars/nissan/New/"><img src="{% static 'images/nissan.jpg' %}", alt=""> </img></a></td>
             <td><a href="/web_app/cars/opel/New/"><img src="{% static 'images/opel.jpg' %}", alt=""> </img></a></td>
             <td><a href="/web_app/cars/peugeot/New/"><img src="{% static 'images/peugeot.jpg' %}", alt=""> </img></a></td>
            <td><a href="/web_app/cars/prosche/New/"><img src="{% static 'images/porsche.jpg' %}", alt=""> </img></a></td>
        </tr>
        <tr>
             <td><a href="/web_app/cars/renault/New/"><img src="{% static 'images/Renault.jpg' %}", alt=""> </img></a></td>
             <td><a href="/web_app/cars/rolls-royce/New/"><img src="{% static 'images/rolls-royce.jpg' %}", alt=""> </img></a></td>
            <td><a href="/web_app/cars/tata/New/"><img src="{% static 'images/tata.jpg' %}", alt=""> </img></a></td>
            <td><a href="/web_app/cars/toyota/New/"><img src="{% static 'images/toyota.jpg' %}", alt=""> </img></a></td>
        </tr>
        <tr>
             <td><a href="/web_app/cars/vw/New/"><img src="{% static 'images/volkswagen.jpg' %}", alt=""> </img></a></td>
             <td><a href="/web_app/cars/volvo/New/"><img src="{% static 'images/volvo.jpg' %}", alt=""> </img></a></td>
        </tr>
        <!-- Add more rows for additional images -->
    </tbody>
</table>
{%endblock%}