<!DOCTYPE html>
{%extends 'web_app/home.html'%}
{% load static %}
{%block body_block%}
<br><br><br><br><br><br>
<h1 align="center">Pre Owned Car Brands</h1>
<table>
    <tbody>
        <tr>
            <td><a href="/web_app/cars/audi/Pre_Owned/"><img src="{% static 'images/audi.jpg' %}", alt=""> </img></a></td>
            <td><a href="/web_app/cars/bmw/Pre_Owned/"><img src="{% static 'images/bmw.jpg' %}", alt=""> </img></a></td>
             <td><a href="/web_app/cars/bentley/Pre_Owned/"><img src="{% static 'images/bentley.png' %}", alt=""> </img></a></td>
             <td><a href="/web_app/cars/bugatti/Pre_Owned/"><img src="{% static 'images/bugatti.png' %}", alt=""> </img></a></td>
            <!-- Add more cells for additional images -->
        </tr>
        <tr>
             <td><a href="/web_app/cars/byd/Pre_Owned/"><img src="{% static 'images/byd.jpg' %}", alt=""> </img></a></td>
             <td><a href="/web_app/cars/chevrolet/Pre_Owned/"><img src="{% static 'images/chevrolet.jpg' %}", alt=""> </img></a></td>
             <td><a href="/web_app/cars/citreon/Pre_Owned/"><img src="{% static 'images/citroen.jpg' %}", alt=""> </img></a></td>
            <td><a href="/web_app/cars/ferrari/Pre_Owned/"><img src="{% static 'images/ferrari.png' %}", alt=""> </img></a></td>
        </tr>
        <tr>
             <td><a href="/web_app/cars/force-motors/Pre_Owned/"><img src="{% static 'images/force-motors.png' %}", alt=""> </img></a></td>
             <td><a href="/web_app/cars/honda/Pre_Owned/"><img src="{% static 'images/honda.jpg' %}", alt=""> </img></a></td>
             <td><a href="/web_app/cars/hyundai/Pre_Owned/"><img src="{% static 'images/hyundai.jpg' %}", alt=""> </img></a></td>
            <td><a href="/web_app/cars/isuzu/Pre_Owned/"><img src="{% static 'images/isuzu.png' %}", alt=""> </img></a></td>
        </tr>
        <tr>
             <td><a href="/web_app/cars/jagur/Pre_Owned/"><img src="{% static 'images/jaguar.jpg' %}", alt=""> </img></a></td>
             <td><a href="/web_app/cars/jeep/Pre_Owned/"><img src="{% static 'images/jeep.jpg' %}", alt=""> </img></a></td>
             <td><a href="/web_app/cars/kia/Pre_Owned/"><img src="{% static 'images/kia.jpg' %}", alt=""> </img></a></td>
            <td><a href="/web_app/cars/lamborghini/Pre_Owned/"><img src="{% static 'images/lamborghini.jpg' %}", alt=""> </img></a></td>
        </tr>
        <tr>
             <td><a href="/web_app/cars/land-rover/Pre_Owned/"><img src="{% static 'images/land-rover.jpg' %}", alt=""> </img></a></td>
             <td><a href="/web_app/cars/lexus/Pre_Owned/"><img src="{% static 'images/lexus.png' %}", alt=""> </img></a></td>
             <td><a href="/web_app/cars/mahindra/Pre_Owned/"><img src="{% static 'images/mahindra.jpg' %}", alt=""> </img></a></td>
            <td><a href="/web_app/cars/matuti-suzuki/Pre_Owned/"><img src="{% static 'images/maruti-suzuki.jpg' %}", alt=""> </img></a></td>
        </tr>
        <tr>
             <td><a href="/web_app/cars/mclaren/Pre_Owned/"><img src="{% static 'images/mclaren.jpg' %}", alt=""> </img></a></td>
             <td><a href="/web_app/cars/mercedes-benz/Pre_Owned/"><img src="{% static 'images/mercedes-benz.jpg' %}", alt=""> </img></a></td>
             <td><a href="/web_app/cars/mg/Pre_Owned/"><img src="{% static 'images/mg.jpg' %}", alt=""> </img></a></td>
            <td><a href="/web_app/cars/mini/Pre_Owned/"><img src="{% static 'images/mini.png' %}", alt=""> </img></a></td>
        </tr>
        <tr>
             <td><a href="/web_app/cars/nissan/Pre_Owned/"><img src="{% static 'images/nissan.jpg' %}", alt=""> </img></a></td>
             <td><a href="/web_app/cars/opel/Pre_Owned/"><img src="{% static 'images/opel.jpg' %}", alt=""> </img></a></td>
             <td><a href="/web_app/cars/peugeot/Pre_Owned/"><img src="{% static 'images/peugeot.jpg' %}", alt=""> </img></a></td>
            <td><a href="/web_app/cars/prosche/Pre_Owned/"><img src="{% static 'images/porsche.jpg' %}", alt=""> </img></a></td>
        </tr>
        <tr>
             <td><a href="/web_app/cars/renault/Pre_Owned/"><img src="{% static 'images/Renault.jpg' %}", alt=""> </img></a></td>
             <td><a href="/web_app/cars/rolls-royce/Pre_Owned/"><img src="{% static 'images/rolls-royce.jpg' %}", alt=""> </img></a></td>
            <td><a href="/web_app/cars/tata/Pre_Owned/"><img src="{% static 'images/tata.jpg' %}", alt=""> </img></a></td>
            <td><a href="/web_app/cars/toyota/Pre_Owned/"><img src="{% static 'images/toyota.jpg' %}", alt=""> </img></a></td>
        </tr>
        <tr>
             <td><a href="/web_app/cars/vw/Pre_Owned/"><img src="{% static 'images/volkswagen.jpg' %}", alt=""> </img></a></td>
             <td><a href="/web_app/cars/volvo/Pre_Owned/"><img src="{% static 'images/volvo.jpg' %}", alt=""> </img></a></td>
        </tr>
        <!-- Add more rows for additional images -->
    </tbody>
</table>
{%endblock%}