<!DOCTYPE html>
{%extends 'web_app/home.html'%}
{% load static %}
<link rel="stylesheet" href="{% static 'css/pre_owned_car.css' %}">
{%block body_block%}
<br><br><br><br><br><br>
<h1 align="center">Upcoming Car Overview</h1>
<ul>
    {% for car in car_overview %}
    {% if car.new_or_pre_owned_or_upcoming|lower == 'up_coming'%}
        <img src="{{car.images.url}}", alt="Car image" class="passport-size" width="500" height="500" align="center">
        <div class="car-details">
            <h2>{{car.bname}} {{car.model}}</h2>
            <dl>
                <div>
                    <dt>Type</dt>
                    <dd>{{car.type}}</dd>
                </div>
                <div>
                    <dt>Year</dt>
                    <dd>{{car.year}}</dd>
                </div>
                <!-- Other properties -->
            </dl>
            <div>
                <h3 title="bold">Technical Specifications</h3>
                <ul>
                    <li><dt>Mileage:</dt> {{car.mileage}}</li>
                    <li><dt>Engine:</dt> {{car.engine}}</li>
                    <li><dt>Transmission:</dt> {{car.transmission}}</li>
                    <li><dt>Drive Train:</dt> {{car.drive_train}}</li>
                    <li><dt>varients:</dt> {{car.varients}}</li>
                    <!-- Other technical specs -->
                </ul>
            </div>
            <!-- Other sections like colors, variants, description, etc. -->
            <div>
                <h3>Other Details</h3>
                <ul>
                    <li><dt>Colors:</dt> {{car.colors}}</li>
                    <li><dt>Expected release date:</dt> {{car.expected_release_date}}</li>
                    <li><dt>Description:</dt> {{car.description}}</li>
                </ul>
            </div>
        </div>
    {% endif %}
    {% endfor %}
</ul>
</html>
{%endblock%}