<!DOCTYPE html>
{%extends 'web_app/home.html'%}
{% load static %}
{%block body_block%}
<br><br><br><br><br><br>
<h1 align="center">Upcoming Car Brands</h1>
<table>
    <tbody>
        <tr>
            <td><a href="/web_app/cars/audi/Up_Coming/"><img src="{% static 'images/audi.jpg' %}", alt=""> </img></a></td>
            <td><a href="/web_app/cars/bmw/Up_Coming/"><img src="{% static 'images/bmw.jpg' %}", alt=""> </img></a></td>
             <td><a href="/web_app/cars/bentley/Up_Coming/"><img src="{% static 'images/bentley.png' %}", alt=""> </img></a></td>
             <td><a href="/web_app/cars/bugatti/Up_Coming/"><img src="{% static 'images/bugatti.png' %}", alt=""> </img></a></td>
            <!-- Add more cells for additional images -->
        </tr>
        <tr>
             <td><a href="/web_app/cars/byd/Up_Coming/"><img src="{% static 'images/byd.jpg' %}", alt=""> </img></a></td>
             <td><a href="/web_app/cars/chevrolet/Up_Coming/"><img src="{% static 'images/chevrolet.jpg' %}", alt=""> </img></a></td>
             <td><a href="/web_app/cars/citreon/Up_Coming/"><img src="{% static 'images/citroen.jpg' %}", alt=""> </img></a></td>
            <td><a href="/web_app/cars/ferrari/Up_Coming/"><img src="{% static 'images/ferrari.png' %}", alt=""> </img></a></td>
        </tr>
        <tr>
             <td><a href="/web_app/cars/force-motors/Up_Coming/"><img src="{% static 'images/force-motors.png' %}", alt=""> </img></a></td>
             <td><a href="/web_app/cars/honda/Up_Coming/"><img src="{% static 'images/honda.jpg' %}", alt=""> </img></a></td>
             <td><a href="/web_app/cars/hyundai/Up_Coming/"><img src="{% static 'images/hyundai.jpg' %}", alt=""> </img></a></td>
            <td><a href="/web_app/cars/isuzu/Up_Coming/"><img src="{% static 'images/isuzu.png' %}", alt=""> </img></a></td>
        </tr>
        <tr>
             <td><a href="/web_app/cars/jagur/Up_Coming/"><img src="{% static 'images/jaguar.jpg' %}", alt=""> </img></a></td>
             <td><a href="/web_app/cars/jeep/Up_Coming/"><img src="{% static 'images/jeep.jpg' %}", alt=""> </img></a></td>
             <td><a href="/web_app/cars/kia/Up_Coming/"><img src="{% static 'images/kia.jpg' %}", alt=""> </img></a></td>
            <td><a href="/web_app/cars/lamborghini/Up_Coming/"><img src="{% static 'images/lamborghini.jpg' %}", alt=""> </img></a></td>
        </tr>
        <tr>
             <td><a href="/web_app/cars/land-rover/Up_Coming/"><img src="{% static 'images/land-rover.jpg' %}", alt=""> </img></a></td>
             <td><a href="/web_app/cars/lexus/Up_Coming/"><img src="{% static 'images/lexus.png' %}", alt=""> </img></a></td>
             <td><a href="/web_app/cars/mahindra/Up_Coming/"><img src="{% static 'images/mahindra.jpg' %}", alt=""> </img></a></td>
            <td><a href="/web_app/cars/matuti-suzuki/Up_Coming/"><img src="{% static 'images/maruti-suzuki.jpg' %}", alt=""> </img></a></td>
        </tr>
        <tr>
             <td><a href="/web_app/cars/mclaren/Up_Coming/"><img src="{% static 'images/mclaren.jpg' %}", alt=""> </img></a></td>
             <td><a href="/web_app/cars/mercedes-benz/Up_Coming/"><img src="{% static 'images/mercedes-benz.jpg' %}", alt=""> </img></a></td>
             <td><a href="/web_app/cars/mg/Up_Coming/"><img src="{% static 'images/mg.jpg' %}", alt=""> </img></a></td>
            <td><a href="/web_app/cars/mini/Up_Coming/"><img src="{% static 'images/mini.png' %}", alt=""> </img></a></td>
        </tr>
        <tr>
             <td><a href="/web_app/cars/nissan/Up_Coming/"><img src="{% static 'images/nissan.jpg' %}", alt=""> </img></a></td>
             <td><a href="/web_app/cars/opel/Up_Coming/"><img src="{% static 'images/opel.jpg' %}", alt=""> </img></a></td>
             <td><a href="/web_app/cars/peugeot/Up_Coming/"><img src="{% static 'images/peugeot.jpg' %}", alt=""> </img></a></td>
            <td><a href="/web_app/cars/prosche/Up_Coming/"><img src="{% static 'images/porsche.jpg' %}", alt=""> </img></a></td>
        </tr>
        <tr>
             <td><a href="/web_app/cars/renault/Up_Coming/"><img src="{% static 'images/Renault.jpg' %}", alt=""> </img></a></td>
             <td><a href="/web_app/cars/rolls-royce/Up_Coming/"><img src="{% static 'images/rolls-royce.jpg' %}", alt=""> </img></a></td>
            <td><a href="/web_app/cars/tata/Up_Coming/"><img src="{% static 'images/tata.jpg' %}", alt=""> </img></a></td>
            <td><a href="/web_app/cars/toyota/Up_Coming/"><img src="{% static 'images/toyota.jpg' %}", alt=""> </img></a></td>
        </tr>
        <tr>
             <td><a href="/web_app/cars/vw/Up_Coming/"><img src="{% static 'images/volkswagen.jpg' %}", alt=""> </img></a></td>
             <td><a href="/web_app/cars/volvo/Up_Coming/"><img src="{% static 'images/volvo.jpg' %}", alt=""> </img></a></td>
        </tr>
        <!-- Add more rows for additional images -->
    </tbody>
</table>
{%endblock%}