<!DOCTYPE html>
{%extends 'web_app/home.html'%}
{% load static %}
<link rel="stylesheet" href="{% static 'css/pre_owned_car.css' %}">
{%block body_block%}
<br><br><br><br><br><br>
<h1>Upcoming Car Overview</h1>
<ul>
    {% for car in car_overview %}
    <h2>{{car.new_or_pre_owned_or_upcoming}}</h2>
    {% if car.new_or_pre_owned_or_upcoming|lower == 'up_coming'%}
        <img src="{{car.images.url}}", alt="Car image" class="passport-size" width="500" height="500" align="center">
        <table>
            <thead>
            <th>brand</th>
            <th>type</th>
            <th>model</th>
            <th>year</th>
            <th>vech type</th>
            <th>expected price</th>
            <th>Milage</th>
            <th>Engine</th>
            <th>Transmission</th>
            <th>Color</th>
            <th>Drive Train</th>
            <th>expected_release_date</th>
            <th>Fuel Type</th>
            <th>Description</th>
            </thead>
        <tr>
            <td>{{car.bname}}</td>
            <td>{{car.type}}</td>
            <td>{{car.model}}</td>
            <td>{{car.year}}</td>
            <td>{{car.new_or_pre_owned_or_upcoming}}</td>
            <td>{{car.expected_price_range}}</td>
            <td>{{car.milage}}</td>
            <td>{{car.engine}}</td>
            <td>{{car.transmission}}</td>
            <td>{{car.colors}}</td>
            <td>{{car.drive_train}}</td>
            <td>{{car.expected_release_date}}</td>
            <td>{{car.varients}}</td>
            <td>{{car.description}}</td>
        </tr>
        </table>
    {% endif %}
    {% endfor %}
</ul>
</html>
{%endblock%}